<a href="https://colab.research.google.com/github/ranjiGT/Cloyster/blob/master/Global_Pandemic_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color='red'>***Video:***</font> https://youtu.be/fg3B-EHUMBA

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
covid = pd.read_excel('owid-covid-data.xlsx')
covid

In [ ]:
#Looking at the shape
covid.shape

In [ ]:
covid.dtypes

In [ ]:
covid.columns

In [ ]:
#Looking at the different locations
covid["location"].value_counts()

In [ ]:
#Checking if columns have null values
covid.isna().any()

In [ ]:
#Getting the sum of null values across each column
covid.isna().sum()

In [ ]:
covid

In [ ]:
#Getting the cases in India
india_case=covid[covid["location"]=="India"]

In [ ]:
india_case.head()

In [ ]:
india_case.tail()

In [ ]:
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
#Total cases per day
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="total_cases",data=india_case)
plt.show()

In [ ]:
#Making a dataframe for last 5 days
india_last_5_days=india_case.tail()

In [ ]:
#Total cases in last 5 days
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="total_cases",data=india_last_5_days)
plt.show()

In [ ]:
#Total tests per day
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="total_tests",data=india_case)
plt.show()

In [ ]:
#Total tests in last 5 days
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="total_tests",data=india_last_5_days)
plt.show()

In [ ]:
#Germany Case
germany_case=covid[covid["location"]=="Germany"] 
germany_case.head()

In [ ]:
germany_case.tail()

In [ ]:
#Making a dataframe for germany for last 5 days
de_last_5_days=germany_case.tail()

In [ ]:
#Total cases in last 5 days
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="total_cases",data=de_last_5_days)
plt.show()

In [ ]:
#Understanding cases of India, China and Japan
ijc=covid[(covid["location"] =="India") | (covid["location"] =="China") | (covid["location"]=="Japan")]

In [ ]:
#Plotting growth of cases across China, India and Japan
sns.set(rc={'figure.figsize':(15,10)})
sns.barplot(x="location",y="total_cases",data=ijc,hue="date")
plt.show()

In [ ]:
#Understanding cases of Germany and India
inde=cov[(cov["location"] =="India") | (cov["location"] =="Germany")]

In [ ]:
#Plotting growth of cases across Germany and India
sns.set(rc={'figure.figsize':(15,10)})
sns.barplot(x="location",y="total_cases",data=inde,hue="date")
plt.show()

In [ ]:
#Getting latest data
last_day_cases=covid[covid["date"]=="2020-08-24"]
last_day_cases

In [ ]:
#Sorting data w.r.t total_cases
max_cases_country=last_day_cases.sort_values(by="total_cases",ascending=False)
max_cases_country

In [ ]:
#Top 5 countries with maximum cases
max_cases_country[1:6]

In [ ]:
#Making bar-plot for countries with top cases
sns.barplot(x="location",y="total_cases",data=max_cases_country[1:6],hue="location")
plt.show()

In [ ]:
india_case.head()

In [ ]:
#converting string date to date-time
import datetime as dt
india_case['date'] = pd.to_datetime(india_case['date']) 
india_case.head()

In [ ]:
india_case.dtypes

In [ ]:
india_case.head()

In [ ]:
#converting date-time to ordinal
india_case['date']=india_case['date'].map(dt.datetime.toordinal)
india_case.head()