<a href="https://colab.research.google.com/github/ranjiGT/Cloyster/blob/master/NumPy_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color = "redr"> <b>video link</b> --> https://youtu.be/GDCYq8_L0D4

 # <font color = "yellow">***Usage of np.where()</font>***

> ***Conditionally adds column(s)***

#<font color = "yellow"> ***Converting Numerical column into Categorical column***</font>

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv("Ola_Rides_2018.csv")
df
df["MILESCAT"] = np.where(df["MILES"] > 5,"Long Drive","Short Drive")

In [ ]:
df.head(20)

In [ ]:
df["MILESCAT"].value_counts()
#df.loc[df["MILES"] > 5].shape

# <font color="yellow">***Converting into 3 more categories***</font>


> <font color="red">***MILES > 10 as LONG DRIVE***


> <font color="orange">***5 < MILES < 10 as INTERMEDIATE DRIVE***


> <font color="pink">***MILES < 5 as SHORT DRIVE***

## <font color ="tan">***Technique 1***

In [ ]:
rules = [(df["MILES"]>10), ((df["MILES"]>=5)&(df["MILES"]<10)), (df["MILES"]<5)]
cat = ["L","I","S"]
df["L/I/S"] = np.select(rules,cat)

In [ ]:
df.head(10)

## <font color ="tan">***Technique 2***

In [ ]:
df["L/M/S"] = np.where(df["MILES"]>10,"L",np.where(df["MILES"]<5,"S","M"))

In [ ]:
df.head(10)