<a href="https://colab.research.google.com/github/ranjiGT/Python_Basics/blob/master/Pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color = "yellow">Video link --></font> https://youtu.be/TjlG2mgAqFM

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("Ola_Rides_2018.csv")
df.head(100)

# ***Filtering***

***Find rides larger than 20 miles***

In [ ]:
df.loc[df["MILES"]>20,]

 ***Selection of columns***

In [ ]:
df.loc[df["MILES"]>20, ["MILES","SOURCE"]]

***Find trips to a particular location***

In [ ]:
df.loc[df["DESTINATION"]=="Manhattan",]

***Finding trips from/to a specific location***

In [ ]:
df.loc[df["SOURCE"].isin(["New York","Krakaow"])].head(50)

***Finding trips from specific locations with distances more than 20 miles***

In [ ]:
newdf=df.loc[(df["MILES"] > 20) & df["SOURCE"].isin(["Magdeburg","Tessenowstreet"])]
newdf.reset_index(inplace=True, drop=True)
newdf

***Missing value treatment***

In [ ]:
df = df.fillna({"OUTSTATION":"Not Mentioned"})
df[:-1:] #ignoring the last row (slicing operation)

# ***Sorting***

***Sorting values from small to large***

In [ ]:
df.sort_values(by=["MILES"],ascending=False)

***Multisorting on columns***

In [ ]:
df.sort_values(by=["SOURCE", "MILES"],ascending=[True,False])

# ***Summarization***

In [ ]:
df.groupby(["DESTINATION",]).mean() #groupby on non-numeric and agg on numeric (default for all numeric cols) # works only with mean()
#df.groupby(["DESTINATION"])["MILES"].agg("mean") #on MILES #result is a series
#df.groupby(["DESTINATION"])["PRICE-MILES*"].agg("mean") # on PRICE-MILES ##result is a series

# ***Multiple Grouping***

In [ ]:
df.groupby(["SOURCE","DESTINATION"]).agg(["mean","sum","min"]).head()

## ***First ride and last ride along with average distance from where the trip started***

In [ ]:
df1 = df[:-1:]
df1["FROM"] = pd.to_datetime(df1["FROM"], errors='coerce')
df1["TO"] = pd.to_datetime(df1["TO"], errors='coerce')

In [ ]:
res = df1.groupby(["SOURCE","DESTINATION"]).agg({"MILES":["mean"], "FROM":["min","max"], "PRICE-MILES*":["mean"]} )
res.reset_index(inplace=True)
res.columns = ["SOURCE*","DESTINATION*","AGG-DIST*","FIRST TRIP*","LATEST TRIP*","AGG-PRICE/MILES*"]
res