<a href="https://colab.research.google.com/github/ranjiGT/Python_Basics/blob/master/Pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color='red'>**Video link** --> https://youtu.be/KO79DCOz7Fo

*All about pandas* --> https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

# ***Data Summarization***

## ***Usage of Group By with aggregate function***

In [ ]:
import pandas as pd
df = pd.read_csv("Ola_Rides_2018.csv")
df.dtypes

In [ ]:
df.groupby(["DESTINATION"]).mean() #groupby on non-numeric and agg on numeric (default for all numeric cols) # works only with mean()

In [ ]:
#df.groupby(["DESTINATION"])["MILES"].agg("mean") #on MILES & result is a series
df.groupby(["DESTINATION"])["PRICE-MILES*"].agg("mean") # on PRICE-MILES & result is a series

# ***Multiple Grouping***

In [ ]:
df.groupby(["SOURCE","DESTINATION"]).agg(["mean","sum","min"])

# ***Activity - First ride and last ride along with average distance from where the trip started***

In [ ]:
df1 = df[:-1:]
df1["FROM"] = pd.to_datetime(df1["FROM"], errors='coerce')
df1["TO"] = pd.to_datetime(df1["TO"], errors='coerce')

In [ ]:
res = df1.groupby(["SOURCE","DESTINATION"]).agg({"MILES":["mean"], "FROM":["min","max"]} )
res.reset_index(inplace=True)
res.columns = ["SOURCE*","DESTINATION*","AGG-DIST*","FIRST TRIP*","LATEST TRIP*",]
res